* {
  margin: 0;
  padding: 0;
  background-color: beige;
}

.homepage {
  width: 100vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20%;
}

.title {
  font-size: 500%;
  margin-bottom: 30px;
}

.description {
  margin-bottom: 20px;
}

.startButton {
  padding: 20px;
  background-color: rgb(140, 140, 255);
  color: white;
  font-size: 150%;
  font-weight: bolder;
  border: none;
}

.startButton:hover {
  background-color: rgb(102, 102, 255);
}

.nav {
  display: flex;
  justify-content: end;
  background-color: rgb(140, 140, 255);
  position: sticky;
}

a {
  background-color: rgb(140, 140, 255);
  padding: 20px;
  text-decoration: none;
  color: white;
  font-weight: bolder;
  border-radius: 10px;
  margin: 3px;
}

a:hover {
  background-color: rgb(102, 102, 255);
}

.login {
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title1 {
  font-size: 300%;
  margin-bottom: 30px;
}

.form-container {
  background-color: white;
  padding: 40px;
  border: 2px solid black;
  border-radius: 10px;
}

.formTitle {
  background-color: white;
}

input {
  background-color: white;
}

.loginButton {
  padding: 10px;
  background-color: rgb(140, 140, 255);
  color: white;
  font-size: 100%;
  font-weight: bolder;
  border: none;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}